on fs
    # Initialize ADB functionfs support
    mkdir /dev/usb-ffs 0770 shell shell
    mkdir /dev/usb-ffs/adb 0770 shell shell
    mount functionfs adb /dev/usb-ffs/adb uid=2000,gid=2000
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    
    setprop sys.usb.ffs.aio_compat 1


on property:sys.storage.ums_enabled=1
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions ffs,adb,mass_storage
    write /sys/class/android_usb/android0/enable 1
    restart adbd

on property:sys.storage.ums_enabled=0
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/functions ffs,adb
    write /sys/class/android_usb/android0/enable 1
    restart adbd

